In [ ]:
'''  - pandas is used in data cleaning and managaing, it also deals with import, export and manupilation of the data.
     - NUMPY is used to convert any bunch of data into array and work on the matriculation of the same data.
     - 

     - series : 1D ARRAY
     -dataframe: 2D and 3D array

In [2]:
import numpy as np
import pandas as pd

In [39]:
#create a dictionary and use panda functions on it
dic={ 
    "Name":[ "RAJU","NIGGA","DANNY","TUNTUN"],
    "ROLLNO":[1,2,3,4],   
    "Grades": ["A","b","D","A"],
    "email": ["ram@gmail.com", "nigu@gmail.com","dammu@yahoo.in","tunntunn@dholakpur.in"]
}

In [40]:
dic

{'Name': ['RAJU', 'NIGGA', 'DANNY', 'TUNTUN'],
 'ROLLNO': [1, 2, 3, 4],
 'Grades': ['A', 'b', 'D', 'A'],
 'email': ['ram@gmail.com',
  'nigu@gmail.com',
  'dammu@yahoo.in',
  'tunntunn@dholakpur.in']}

In [41]:
df = pd.DataFrame(dic)

In [42]:
df

     Name  ROLLNO Grades                  email
0    RAJU       1      A          ram@gmail.com
1   NIGGA       2      b         nigu@gmail.com
2   DANNY       3      D         dammu@yahoo.in
3  TUNTUN       4      A  tunntunn@dholakpur.in

In [43]:
df.head()

     Name  ROLLNO Grades                  email
0    RAJU       1      A          ram@gmail.com
1   NIGGA       2      b         nigu@gmail.com
2   DANNY       3      D         dammu@yahoo.in
3  TUNTUN       4      A  tunntunn@dholakpur.in

In [44]:
df.tail()

     Name  ROLLNO Grades                  email
0    RAJU       1      A          ram@gmail.com
1   NIGGA       2      b         nigu@gmail.com
2   DANNY       3      D         dammu@yahoo.in
3  TUNTUN       4      A  tunntunn@dholakpur.in

In [45]:
df.head(2)

    Name  ROLLNO Grades           email
0   RAJU       1      A   ram@gmail.com
1  NIGGA       2      b  nigu@gmail.com

In [46]:
df.tail(2)

     Name  ROLLNO Grades                  email
2   DANNY       3      D         dammu@yahoo.in
3  TUNTUN       4      A  tunntunn@dholakpur.in

In [47]:
df.describe()

         ROLLNO
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [48]:
df = pd.Series(dic)

In [49]:
df

Name                           [RAJU, NIGGA, DANNY, TUNTUN]
ROLLNO                                         [1, 2, 3, 4]
Grades                                         [A, b, D, A]
email     [ram@gmail.com, nigu@gmail.com, dammu@yahoo.in...
dtype: object

In [50]:
df=pd.DataFrame(dic)

In [51]:
df

     Name  ROLLNO Grades                  email
0    RAJU       1      A          ram@gmail.com
1   NIGGA       2      b         nigu@gmail.com
2   DANNY       3      D         dammu@yahoo.in
3  TUNTUN       4      A  tunntunn@dholakpur.in

In [56]:
cus=pd.read_csv("details.csv")

In [57]:
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [61]:
type(cus)

pandas.core.frame.DataFrame

In [64]:
type(cus["CustomerID"])

pandas.core.series.Series

cus.index

In [72]:
cus.columns

Index(['CustomerID', 'Company Name', 'Costumer Name', 'City', 'PostalCode',
       'Country'],
      dtype='object')

In [70]:
cus.to_numpy()

array([[1, 'Alfreds Futterkiste', 'Maria Anders', 'Berlin', 12209,
        'Germany'],
       [2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo',
        'Mexico D.F.', 5021, 'Mexico'],
       [3, 'Antonio Moreno Taqueria', 'Antonio Moreno', 'Mexico D.F.',
        5023, 'Mexico'],
       [4, 'Around the Horn', 'Thomas Hardy', 'London', 34626, 'UK'],
       [5, 'Berglunds snabbkp', 'Christina Berglund', 'Lulea', 95822,
        'Sweden'],
       [6, 'Blauer See Delikatessen', 'Hanna Moos', 'Mannheim', 68306,
        'Germany'],
       [7, 'Blondel pere et fils', 'Frederique Citeaux', 'Strasbourg',
        67000, 'France'],
       [8, 'BOlido Comidas preparadas', 'Martin Sommer', 'Madrid', 28023,
        'Spain'],
       [9, 'Bon app', 'Laurence Lebihans', 'Marseille', 13008, 'France'],
       [10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', 'Tsawassen',
        254685, 'Canada'],
       [11, 'Bs Beverages', 'Victoria Ashworth', 'London', 13546, 'UK'],
       [12, 'Cactus Comidas para llevar', 'Patricio Simpson',
        'Buenos Aires', 1010, 'Argentina'],
       [13, 'Centro comercial Moctezuma', 'Francisco Chang',
        'Mexico D.F.', 5022, 'Mexico'],
       [14, 'Chop-suey Chinese', 'Yang Wang', 'Bern', 3012,
        'Switzerland'],
       [15, 'Comercio Mineiro', 'Pedro Afonso', 'Sao Paulo', 6565,
        'Brazil'],
       [16, 'Consolidated Holdings', 'Elizabeth Brown', 'London', 541684,
        'UK'],
       [17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Aachen', 52066,
        'Germany'],
       [18, 'Du monde entier', 'Janine Labrune', 'Nantes', 44000,
        'France'],
       [19, 'Eastern Connection', 'Ann Devon', 'London', 546, 'UK'],
       [20, 'Ernst Handel', 'Roland Mendel', 'Graz', 8010, 'Austria'],
       [21, 'Familia Arquibaldo', 'Aria Cruz', 'Sao Paulo', 4984,
        'Brazil'],
       [22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel',
        'Madrid', 28034, 'Spain'],
       [23, 'Folies gourmandes', 'Martine Rance', 'Lille', 59000,
        'France'],
       [24, 'Folk och fa HB', 'Maria Larsson', 'Bracke', 96825, 'Sweden'],
       [25, 'Frankenversand', 'Peter Franken', 'Mnchen', 80805,
        'Germany'],
       [26, 'France restauration', 'Carine Schmitt', 'Nantes', 44000,
        'France'],
       [27, 'Franchi S.p.A.', 'Paolo Accorti', 'Torino', 10100, 'Italy'],
       [28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Lisboa',
        1675, 'Portugal'],
       [29, 'Galeria del gastrOnomo', 'Eduardo Saavedra', 'Barcelona',
        8022, 'Spain'],
       [30, 'Godos Cocina Tipica', 'Jose Pedro Freyre', 'Sevilla', 41101,
        'Spain'],
       [31, 'Gourmet Lanchonetes', 'Andre Fonseca', 'Campinas', 76951,
        'Brazil'],
       [32, 'Great Lakes Food Market', 'Howard Snyder', 'Eugene', 97403,
        'USA'],
       [33, 'GROSELLA-Restaurante', 'Manuel Pereira', 'Caracas', 1081,
        'Venezuela'],
       [34, 'Hanari Carnes', 'Mario Pontes', 'Rio de Janeiro', 5454,
        'Brazil'],
       [35, 'HILARION-Abastos', 'Carlos Hernandez', 'San CristObal',
        5022, 'Venezuela'],
       [36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Elgin',
        97827, 'USA'],
       [37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', 'Cork',
        18845, 'Ireland'],
       [38, 'Island Trading', 'Helen Bennett', 'Cowes', 84624, 'UK'],
       [39, 'Koniglich Essen', 'Philip Cramer', 'Brandenburg', 14776,
        'Germany'],
       [40, 'La corne dabondance', 'Daniel Tonini', 'Versailles', 78000,
        'France'],
       [41, 'La maison dAsie', 'Annette Roulet', 'Toulouse', 31000,
        'France'],
       [42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri',
        'Vancouver', 41562, 'Canada'],
       [43, 'Lazy K Kountry Store', 'John Steel', 'Walla Walla', 99362,
        'USA'],
       [44, 'Lehmanns Marktstand', 'Renate Messner', 'Frankfurt a.M.',
        60528, 'Germany'],
       [45, 'Lets Stop N Shop', 'Jaime Yorres', 'San Francisco', 94117,
        'USA'],
       [46, 'LILA-Supermercado', 'Carlos Gonzalez', 'Barquisimeto', 3508,
        'Venezuela'],
       [47, 'LINO-Delicateses', 'Felipe Izquierdo', 'I. de Margarita',
        4980, 'Venezuela'],
       [48, 'Lonesome Pine Restaurant', 'Fran Wilson', 'Portland', 97219,
        'USA'],
       [49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli',
        'Bergamo', 24100, 'Italy'],
       [50, 'Maison Dewey', 'Catherine Dewey', 'Bruxelles', 21365,
        'Belgium'],
       [51, 'Mere Paillarde', 'Jean Fresniere', 'Montreal', 69162,
        'Canada'],
       [52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Leipzig', 4179,
        'Germany'],
       [53, 'North/South', 'Simon Crowther', 'London', 196215, 'UK'],
       [54, 'Oceano Atlantico Ltda.', 'Yvonne Moncada', 'Buenos Aires',
        1010, 'Argentina'],
       [55, 'Old World Delicatessen', 'Rene Phillips', 'Anchorage',
        99508, 'USA'],
       [56, 'Ottilies Kaseladen', 'Henriette Pfalzheim', 'Koln', 50739,
        'Germany'],
       [57, 'Paris specialites', 'Marie Bertrand', 'Paris', 75012,
        'France'],
       [58, 'Pericles Comidas clasicas', 'Guillermo Fernandez',
        'Mexico D.F.', 5033, 'Mexico'],
       [59, 'Piccolo und mehr', 'Georg Pipps', 'Salzburg', 5020,
        'Austria'],
       [60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Lisboa',
        1756, 'Portugal'],
       [61, 'Que Delicia', 'Bernardo Batista', 'Rio de Janeiro', 816466,
        'Brazil'],
       [62, 'Queen Cozinha', 'Lucia Carvalho', 'Sao Paulo', 851306,
        'Brazil'],
       [63, 'QUICK-Stop', 'Horst Kloss', 'Cunewalde', 1307, 'Germany'],
       [64, 'Rancho grande', 'Sergio Gutierrez', 'Buenos Aires', 1010,
        'Argentina'],
       [65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Albuquerque',
        87110, 'USA'],
       [66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Reggio Emilia',
        42100, 'Italy'],
       [67, 'Ricardo Adocicados', 'Janete Limeira', 'Rio de Janeiro',
        84646, 'Brazil'],
       [68, 'Richter Supermarkt', 'Michael Holz', 'Geneve', 1203,
        'Switzerland'],
       [69, 'Romero y tomillo', 'Alejandra Camino', 'Madrid', 28001,
        'Spain'],
       [70, 'Sante Gourmet', 'Jonas Bergulfsen', 'Stavern', 4110,
        'Norway'],
       [71, 'Save-a-lot Markets', 'Jose Pavarotti', 'Boise', 83720,
        'USA'],
       [72, 'Seven Seas Imports', 'Hari Kumar', 'London', 85114, 'UK'],
       [73, 'Simons bistro', 'Jytte Petersen', 'Kbenhavn', 1734,
        'Denmark'],
       [74, 'Specialites du monde', 'Dominique Perrier', 'Paris', 75016,
        'France'],
       [75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Lander',
        82520, 'USA'],
       [76, 'Supremes delices', 'Pascale Cartrain', 'Charleroi', 21564,
        'Belgium'],
       [77, 'The Big Cheese', 'Liz Nixon', 'Portland', 97201, 'USA'],
       [78, 'The Cracker Box', 'Liu Wong', 'Butte', 59801, 'USA'],
       [79, 'Toms Spezialitaten', 'Karin Josephs', 'Münster', 44087,
        'Germany'],
       [80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Mexico D.F.',
        5033, 'Mexico'],
       [81, 'Tradicao Hipermercados', 'Anabela Domingues', 'Sao Paulo',
        51398, 'Brazil'],
       [82, 'Trails Head Gourmet Provisioners', 'Helvetius Nagy',
        'Kirkland', 98034, 'USA'],
       [83, 'Vaffeljernet', 'Palle Ibsen', 'rhus', 8200, 'Denmark'],
       [84, 'Victuailles en stock', 'Mary Saveley', 'Lyon', 69004,
        'France'],
       [85, 'Vins et alcools Chevalier', 'Paul Henriot', 'Reims', 51100,
        'France'],
       [86, 'Die Wandernde Kuh', 'Rita Müller', 'Stuttgart', 70563,
        'Germany'],
       [87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Oulu', 90110,
        'Finland'],
       [88, 'Wellington Importadora', 'Paula Parente', 'Resende', 51849,
        'Brazil'],
       [89, 'White Clover Markets', 'Karl Jablonski', 'Seattle', 98128,
        'USA'],
       [90, 'Wilman Kala', 'Matti Karttunen', 'Helsinki', 21240,
        'Finland'],
       [91, 'Wolski', 'Zbyszek', 'Walla', 56189, 'Poland']], dtype=object)

In [74]:
cus.T

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
CustomerID,1,2,3,4,5,6,7,8,9,10,...,82,83,84,85,86,87,88,89,90,91
Company Name,Alfreds Futterkiste,Ana Trujillo Emparedados y helados,Antonio Moreno Taqueria,Around the Horn,Berglunds snabbkp,Blauer See Delikatessen,Blondel pere et fils,BOlido Comidas preparadas,Bon app,Bottom-Dollar Marketse,...,Trails Head Gourmet Provisioners,Vaffeljernet,Victuailles en stock,Vins et alcools Chevalier,Die Wandernde Kuh,Wartian Herkku,Wellington Importadora,White Clover Markets,Wilman Kala,Wolski
Costumer Name,Maria Anders,Ana Trujillo,Antonio Moreno,Thomas Hardy,Christina Berglund,Hanna Moos,Frederique Citeaux,Martin Sommer,Laurence Lebihans,Elizabeth Lincoln,...,Helvetius Nagy,Palle Ibsen,Mary Saveley,Paul Henriot,Rita Müller,Pirkko Koskitalo,Paula Parente,Karl Jablonski,Matti Karttunen,Zbyszek
City,Berlin,Mexico D.F.,Mexico D.F.,London,Lulea,Mannheim,Strasbourg,Madrid,Marseille,Tsawassen,...,Kirkland,rhus,Lyon,Reims,Stuttgart,Oulu,Resende,Seattle,Helsinki,Walla
PostalCode,12209,5021,5023,34626,95822,68306,67000,28023,13008,254685,...,98034,8200,69004,51100,70563,90110,51849,98128,21240,56189
Country,Germany,Mexico,Mexico,UK,Sweden,Germany,France,Spain,France,Canada,...,USA,Denmark,France,France,Germany,Finland,Brazil,USA,Finland,Poland

In [75]:
cus.copy

<bound method NDFrame.copy of     CustomerID                        Company Name       Costumer Name  \
0            1                 Alfreds Futterkiste        Maria Anders
1            2  Ana Trujillo Emparedados y helados        Ana Trujillo
2            3             Antonio Moreno Taqueria      Antonio Moreno
3            4                     Around the Horn        Thomas Hardy
4            5                   Berglunds snabbkp  Christina Berglund
..         ...                                 ...                 ...
86          87                      Wartian Herkku    Pirkko Koskitalo
87          88              Wellington Importadora       Paula Parente
88          89                White Clover Markets      Karl Jablonski
89          90                         Wilman Kala     Matti Karttunen
90          91                              Wolski             Zbyszek

           City  PostalCode  Country
0        Berlin       12209  Germany
1   Mexico D.F.        5021   Mexico
2   Mexico D.F.        5023   Mexico
3        London       34626       UK
4         Lulea       95822   Sweden
..          ...         ...      ...
86         Oulu       90110  Finland
87      Resende       51849   Brazil
88      Seattle       98128      USA
89     Helsinki       21240  Finland
90        Walla       56189   Poland

[91 rows x 6 columns]>

In [76]:
cus.drop(3)

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Mannheim,68306,Germany
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [86]:
cus.loc[(48,59),('Company Name','Costumer Name')]

                    Company Name     Costumer Name
48  Magazzini Alimentari Riuniti  Giovanni Rovelli
59       Princesa Isabel Vinhoss  Isabel de Castro

In [87]:
cus.loc[(np.arange(48,79)),('Company Name','Costumer Name')]

                    Company Name        Costumer Name
48  Magazzini Alimentari Riuniti     Giovanni Rovelli
49                  Maison Dewey      Catherine Dewey
50                Mere Paillarde       Jean Fresniere
51        Morgenstern Gesundkost      Alexander Feuer
52                   North/South       Simon Crowther
53        Oceano Atlantico Ltda.       Yvonne Moncada
54        Old World Delicatessen        Rene Phillips
55            Ottilies Kaseladen  Henriette Pfalzheim
56             Paris specialites       Marie Bertrand
57     Pericles Comidas clasicas  Guillermo Fernandez
58              Piccolo und mehr          Georg Pipps
59       Princesa Isabel Vinhoss     Isabel de Castro
60                   Que Delicia     Bernardo Batista
61                 Queen Cozinha       Lucia Carvalho
62                    QUICK-Stop          Horst Kloss
63                 Rancho grande     Sergio Gutierrez
64    Rattlesnake Canyon Grocery         Paula Wilson
65            Reggiani Caseifici      Maurizio Moroni
66            Ricardo Adocicados       Janete Limeira
67            Richter Supermarkt         Michael Holz
68              Romero y tomillo     Alejandra Camino
69                 Sante Gourmet     Jonas Bergulfsen
70            Save-a-lot Markets       Jose Pavarotti
71            Seven Seas Imports           Hari Kumar
72                 Simons bistro       Jytte Petersen
73          Specialites du monde    Dominique Perrier
74         Split Rail Beer & Ale   Art Braunschweiger
75              Supremes delices     Pascale Cartrain
76                The Big Cheese            Liz Nixon
77               The Cracker Box             Liu Wong
78            Toms Spezialitaten        Karin Josephs

In [89]:
cus.loc[(np.arange(48,79)),:]

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
48,49,Magazzini Alimentari Riuniti,Giovanni Rovelli,Bergamo,24100,Italy
49,50,Maison Dewey,Catherine Dewey,Bruxelles,21365,Belgium
50,51,Mere Paillarde,Jean Fresniere,Montreal,69162,Canada
51,52,Morgenstern Gesundkost,Alexander Feuer,Leipzig,4179,Germany
52,53,North/South,Simon Crowther,London,196215,UK
53,54,Oceano Atlantico Ltda.,Yvonne Moncada,Buenos Aires,1010,Argentina
54,55,Old World Delicatessen,Rene Phillips,Anchorage,99508,USA
55,56,Ottilies Kaseladen,Henriette Pfalzheim,Koln,50739,Germany
56,57,Paris specialites,Marie Bertrand,Paris,75012,France
57,58,Pericles Comidas clasicas,Guillermo Fernandez,Mexico D.F.,5033,Mexico
58,59,Piccolo und mehr,Georg Pipps,Salzburg,5020,Austria
59,60,Princesa Isabel Vinhoss,Isabel de Castro,Lisboa,1756,Portugal
60,61,Que Delicia,Bernardo Batista,Rio de Janeiro,816466,Brazil
61,62,Queen Cozinha,Lucia Carvalho,Sao Paulo,851306,Brazil
62,63,QUICK-Stop,Horst Kloss,Cunewalde,1307,Germany
63,64,Rancho grande,Sergio Gutierrez,Buenos Aires,1010,Argentina
64,65,Rattlesnake Canyon Grocery,Paula Wilson,Albuquerque,87110,USA
65,66,Reggiani Caseifici,Maurizio Moroni,Reggio Emilia,42100,Italy
66,67,Ricardo Adocicados,Janete Limeira,Rio de Janeiro,84646,Brazil
67,68,Richter Supermarkt,Michael Holz,Geneve,1203,Switzerland
68,69,Romero y tomillo,Alejandra Camino,Madrid,28001,Spain
69,70,Sante Gourmet,Jonas Bergulfsen,Stavern,4110,Norway
70,71,Save-a-lot Markets,Jose Pavarotti,Boise,83720,USA
71,72,Seven Seas Imports,Hari Kumar,London,85114,UK
72,73,Simons bistro,Jytte Petersen,Kbenhavn,1734,Denmark
73,74,Specialites du monde,Dominique Perrier,Paris,75016,France
74,75,Split Rail Beer & Ale,Art Braunschweiger,Lander,82520,USA
75,76,Supremes delices,Pascale Cartrain,Charleroi,21564,Belgium
76,77,The Big Cheese,Liz Nixon,Portland,97201,USA
77,78,The Cracker Box,Liu Wong,Butte,59801,USA
78,79,Toms Spezialitaten,Karin Josephs,Münster,44087,Germany

In [90]:
cus.loc[:,'Costumer Name']

0           Maria Anders
1           Ana Trujillo
2         Antonio Moreno
3           Thomas Hardy
4     Christina Berglund
             ...
86      Pirkko Koskitalo
87         Paula Parente
88        Karl Jablonski
89       Matti Karttunen
90               Zbyszek
Name: Costumer Name, Length: 91, dtype: object

In [92]:
CN=cus.loc[:,'Costumer Name']
CN

0           Maria Anders
1           Ana Trujillo
2         Antonio Moreno
3           Thomas Hardy
4     Christina Berglund
             ...
86      Pirkko Koskitalo
87         Paula Parente
88        Karl Jablonski
89       Matti Karttunen
90               Zbyszek
Name: Costumer Name, Length: 91, dtype: object

In [93]:
CN.drop_duplicates()

0           Maria Anders
1           Ana Trujillo
2         Antonio Moreno
3           Thomas Hardy
4     Christina Berglund
             ...
86      Pirkko Koskitalo
87         Paula Parente
88        Karl Jablonski
89       Matti Karttunen
90               Zbyszek
Name: Costumer Name, Length: 91, dtype: object

In [95]:
employees = [
    {"company_name": "TechCorp", "job_role": "Software Engineer", "employee_name": "Alice Johnson"},
    {"company_name": "HealthPlus", "job_role": "Data Analyst", "employee_name": "Bob Smith"},
    {"company_name": "EduWorld", "job_role": "Teacher", "employee_name": "Carol White"},
    {"company_name": "BuildIt", "job_role": "Construction Manager", "employee_name": "David Brown"},
    {"company_name": "Foodies", "job_role": "Chef", "employee_name": "Emma Davis"},
    {"company_name": "DesignPro", "job_role": "Graphic Designer", "employee_name": "Frank Miller"},
    {"company_name": "MarketMakers", "job_role": "Marketing Specialist", "employee_name": "Grace Wilson"},
    {"company_name": "SecureSafe", "job_role": "Cybersecurity Analyst", "employee_name": "Henry Moore"},
    {"company_name": "GreenFuture", "job_role": "Environmental Engineer", "employee_name": "Ivy Taylor"},
    {"company_name": "RetailHub", "job_role": "Store Manager", "employee_name": "Jack Anderson"},
    {"company_name": "AutoWorks", "job_role": "Mechanical Engineer", "employee_name": "Kathy Thompson"},
    {"company_name": "HealthPlus", "job_role": "Nurse", "employee_name": "Liam Martinez"},
    {"company_name": "TechCorp", "job_role": "Product Manager", "employee_name": "Mia Jackson"},
    {"company_name": "BuildIt", "job_role": "Civil Engineer", "employee_name": "Nathan Harris"},
    {"company_name": "EduWorld", "job_role": "Principal", "employee_name": "Olivia Clark"},
    {"company_name": "MarketMakers", "job_role": "SEO Specialist", "employee_name": "Paul Lewis"},
    {"company_name": "DesignPro", "job_role": "UI/UX Designer", "employee_name": "Quinn Young"},
    {"company_name": "SecureSafe", "job_role": "Network Engineer", "employee_name": "Ryan Walker"},
    {"company_name": "GreenFuture", "job_role": "Renewable Energy Consultant", "employee_name": "Sophia Hall"},
    {"company_name": "RetailHub", "job_role": "Cashier", "employee_name": "Tom King"},
    {"company_name": "Foodies", "job_role": "Restaurant Manager", "employee_name": "Uma Scott"},
    {"company_name": "AutoWorks", "job_role": "Auto Mechanic", "employee_name": "Victor Wright"},
    {"company_name": "TechCorp", "job_role": "DevOps Engineer", "employee_name": "Wendy Lopez"},
    {"company_name": "HealthPlus", "job_role": "Pharmacist", "employee_name": "Xander Hill"},
    {"company_name": "EduWorld", "job_role": "Counselor", "employee_name": "Yara Adams"},
    {"company_name": "BuildIt", "job_role": "Architect", "employee_name": "Zachary Baker"},
    {"company_name": "Foodies", "job_role": "Pastry Chef", "employee_name": "Amanda Gonzales"},
    {"company_name": "DesignPro", "job_role": "Art Director", "employee_name": "Brian Carter"},
    {"company_name": "MarketMakers", "job_role": "Content Writer", "employee_name": "Chloe Mitchell"},
    {"company_name": "SecureSafe", "job_role": "IT Support Specialist", "employee_name": "Dylan Perez"},
    {"company_name": "GreenFuture", "job_role": "Sustainability Consultant", "employee_name": "Ella Roberts"},
    {"company_name": "RetailHub", "job_role": "Sales Associate", "employee_name": "Finn Edwards"},
    {"company_name": "AutoWorks", "job_role": "Quality Control Inspector", "employee_name": "Gabby Ward"},
    {"company_name": "TechCorp", "job_role": "Software Tester", "employee_name": "Hank Baker"},
    {"company_name": "HealthPlus", "job_role": "Physical Therapist", "employee_name": "Isla Turner"},
    {"company_name": "EduWorld", "job_role": "Librarian", "employee_name": "Jake Torres"},
    {"company_name": "BuildIt", "job_role": "Surveyor", "employee_name": "Kara Phillips"},
    {"company_name": "Foodies", "job_role": "Sous Chef", "employee_name": "Leo Campbell"},
    {"company_name": "DesignPro", "job_role": "Interior Designer", "employee_name": "Mila Parker"},
    {"company_name": "MarketMakers", "job_role": "Social Media Manager", "employee_name": "Noah Flores"},
    {"company_name": "SecureSafe", "job_role": "Security Consultant", "employee_name": "Olive Bennett"},
    {"company_name": "GreenFuture", "job_role": "Environmental Scientist", "employee_name": "Pete Sanchez"},
    {"company_name": "RetailHub", "job_role": "Customer Service Representative", "employee_name": "Quincy Morgan"},
    {"company_name": "AutoWorks", "job_role": "Parts Specialist", "employee_name": "Riley Peterson"},
    {"company_name": "TechCorp", "job_role": "Systems Analyst", "employee_name": "Sara Cooper"},
    {"company_name": "HealthPlus", "job_role": "Lab Technician", "employee_name": "Timothy Reed"},
    {"company_name": "EduWorld", "job_role": "Janitor", "employee_name": "Uma Sanders"},
    {"company_name": "BuildIt", "job_role": "Project Manager", "employee_name": "Victor Ross"},
    {"company_name": "Foodies", "job_role": "Line Cook", "employee_name": "Wendy Russell"}
]

employees

[{'company_name': 'TechCorp',
  'job_role': 'Software Engineer',
  'employee_name': 'Alice Johnson'},
 {'company_name': 'HealthPlus',
  'job_role': 'Data Analyst',
  'employee_name': 'Bob Smith'},
 {'company_name': 'EduWorld',
  'job_role': 'Teacher',
  'employee_name': 'Carol White'},
 {'company_name': 'BuildIt',
  'job_role': 'Construction Manager',
  'employee_name': 'David Brown'},
 {'company_name': 'Foodies',
  'job_role': 'Chef',
  'employee_name': 'Emma Davis'},
 {'company_name': 'DesignPro',
  'job_role': 'Graphic Designer',
  'employee_name': 'Frank Miller'},
 {'company_name': 'MarketMakers',
  'job_role': 'Marketing Specialist',
  'employee_name': 'Grace Wilson'},
 {'company_name': 'SecureSafe',
  'job_role': 'Cybersecurity Analyst',
  'employee_name': 'Henry Moore'},
 {'company_name': 'GreenFuture',
  'job_role': 'Environmental Engineer',
  'employee_name': 'Ivy Taylor'},
 {'company_name': 'RetailHub',
  'job_role': 'Store Manager',
  'employee_name': 'Jack Anderson'},
 {'company_name': 'AutoWorks',
  'job_role': 'Mechanical Engineer',
  'employee_name': 'Kathy Thompson'},
 {'company_name': 'HealthPlus',
  'job_role': 'Nurse',
  'employee_name': 'Liam Martinez'},
 {'company_name': 'TechCorp',
  'job_role': 'Product Manager',
  'employee_name': 'Mia Jackson'},
 {'company_name': 'BuildIt',
  'job_role': 'Civil Engineer',
  'employee_name': 'Nathan Harris'},
 {'company_name': 'EduWorld',
  'job_role': 'Principal',
  'employee_name': 'Olivia Clark'},
 {'company_name': 'MarketMakers',
  'job_role': 'SEO Specialist',
  'employee_name': 'Paul Lewis'},
 {'company_name': 'DesignPro',
  'job_role': 'UI/UX Designer',
  'employee_name': 'Quinn Young'},
 {'company_name': 'SecureSafe',
  'job_role': 'Network Engineer',
  'employee_name': 'Ryan Walker'},
 {'company_name': 'GreenFuture',
  'job_role': 'Renewable Energy Consultant',
  'employee_name': 'Sophia Hall'},
 {'company_name': 'RetailHub',
  'job_role': 'Cashier',
  'employee_name': 'Tom King'},
 {'company_name': 'Foodies',
  'job_role': 'Restaurant Manager',
  'employee_name': 'Uma Scott'},
 {'company_name': 'AutoWorks',
  'job_role': 'Auto Mechanic',
  'employee_name': 'Victor Wright'},
 {'company_name': 'TechCorp',
  'job_role': 'DevOps Engineer',
  'employee_name': 'Wendy Lopez'},
 {'company_name': 'HealthPlus',
  'job_role': 'Pharmacist',
  'employee_name': 'Xander Hill'},
 {'company_name': 'EduWorld',
  'job_role': 'Counselor',
  'employee_name': 'Yara Adams'},
 {'company_name': 'BuildIt',
  'job_role': 'Architect',
  'employee_name': 'Zachary Baker'},
 {'company_name': 'Foodies',
  'job_role': 'Pastry Chef',
  'employee_name': 'Amanda Gonzales'},
 {'company_name': 'DesignPro',
  'job_role': 'Art Director',
  'employee_name': 'Brian Carter'},
 {'company_name': 'MarketMakers',
  'job_role': 'Content Writer',
  'employee_name': 'Chloe Mitchell'},
 {'company_name': 'SecureSafe',
  'job_role': 'IT Support Specialist',
  'employee_name': 'Dylan Perez'},
 {'company_name': 'GreenFuture',
  'job_role': 'Sustainability Consultant',
  'employee_name': 'Ella Roberts'},
 {'company_name': 'RetailHub',
  'job_role': 'Sales Associate',
  'employee_name': 'Finn Edwards'},
 {'company_name': 'AutoWorks',
  'job_role': 'Quality Control Inspector',
  'employee_name': 'Gabby Ward'},
 {'company_name': 'TechCorp',
  'job_role': 'Software Tester',
  'employee_name': 'Hank Baker'},
 {'company_name': 'HealthPlus',
  'job_role': 'Physical Therapist',
  'employee_name': 'Isla Turner'},
 {'company_name': 'EduWorld',
  'job_role': 'Librarian',
  'employee_name': 'Jake Torres'},
 {'company_name': 'BuildIt',
  'job_role': 'Surveyor',
  'employee_name': 'Kara Phillips'},
 {'company_name': 'Foodies',
  'job_role': 'Sous Chef',
  'employee_name': 'Leo Campbell'},
 {'company_name': 'DesignPro',
  'job_role': 'Interior Designer',
  'employee_name': 'Mila Parker'},
 {'company_name': 'MarketMakers',
  'job_role': 'Social Media Manager',
  'employee_name': 'Noah Flores'},
 {'company_name': 'SecureSafe',
  'job_role': 'Security Consultant',
  'employee_name': 'Olive Bennett'},
 {'company_name': 'GreenFuture',
  'job_role': 'Environmental Scientist',
  'employee_name': 'Pete Sanchez'},
 {'company_name': 'RetailHub',
  'job_role': 'Customer Service Representative',
  'employee_name': 'Quincy Morgan'},
 {'company_name': 'AutoWorks',
  'job_role': 'Parts Specialist',
  'employee_name': 'Riley Peterson'},
 {'company_name': 'TechCorp',
  'job_role': 'Systems Analyst',
  'employee_name': 'Sara Cooper'},
 {'company_name': 'HealthPlus',
  'job_role': 'Lab Technician',
  'employee_name': 'Timothy Reed'},
 {'company_name': 'EduWorld',
  'job_role': 'Janitor',
  'employee_name': 'Uma Sanders'},
 {'company_name': 'BuildIt',
  'job_role': 'Project Manager',
  'employee_name': 'Victor Ross'},
 {'company_name': 'Foodies',
  'job_role': 'Line Cook',
  'employee_name': 'Wendy Russell'}]

In [98]:
cd = pd.DataFrame(employees)

In [99]:
cd.T

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
company_name,TechCorp,HealthPlus,EduWorld,BuildIt,Foodies,DesignPro,MarketMakers,SecureSafe,GreenFuture,RetailHub,...,MarketMakers,SecureSafe,GreenFuture,RetailHub,AutoWorks,TechCorp,HealthPlus,EduWorld,BuildIt,Foodies
job_role,Software Engineer,Data Analyst,Teacher,Construction Manager,Chef,Graphic Designer,Marketing Specialist,Cybersecurity Analyst,Environmental Engineer,Store Manager,...,Social Media Manager,Security Consultant,Environmental Scientist,Customer Service Representative,Parts Specialist,Systems Analyst,Lab Technician,Janitor,Project Manager,Line Cook
employee_name,Alice Johnson,Bob Smith,Carol White,David Brown,Emma Davis,Frank Miller,Grace Wilson,Henry Moore,Ivy Taylor,Jack Anderson,...,Noah Flores,Olive Bennett,Pete Sanchez,Quincy Morgan,Riley Peterson,Sara Cooper,Timothy Reed,Uma Sanders,Victor Ross,Wendy Russell

In [115]:
cd.drop_duplicates(subset='company_name',keep= 'last')

    company_name                         job_role   employee_name
38     DesignPro                Interior Designer     Mila Parker
39  MarketMakers             Social Media Manager     Noah Flores
40    SecureSafe              Security Consultant   Olive Bennett
41   GreenFuture          Environmental Scientist    Pete Sanchez
42     RetailHub  Customer Service Representative   Quincy Morgan
43     AutoWorks                 Parts Specialist  Riley Peterson
44      TechCorp                  Systems Analyst     Sara Cooper
45    HealthPlus                   Lab Technician    Timothy Reed
46      EduWorld                          Janitor     Uma Sanders
47       BuildIt                  Project Manager     Victor Ross
48       Foodies                        Line Cook   Wendy Russell

In [111]:
cd.drop_duplicates(subset= 'job_role',keep=False)

    company_name                         job_role    employee_name
0       TechCorp                Software Engineer    Alice Johnson
1     HealthPlus                     Data Analyst        Bob Smith
2       EduWorld                          Teacher      Carol White
3        BuildIt             Construction Manager      David Brown
4        Foodies                             Chef       Emma Davis
5      DesignPro                 Graphic Designer     Frank Miller
6   MarketMakers             Marketing Specialist     Grace Wilson
7     SecureSafe            Cybersecurity Analyst      Henry Moore
8    GreenFuture           Environmental Engineer       Ivy Taylor
9      RetailHub                    Store Manager    Jack Anderson
10     AutoWorks              Mechanical Engineer   Kathy Thompson
11    HealthPlus                            Nurse    Liam Martinez
12      TechCorp                  Product Manager      Mia Jackson
13       BuildIt                   Civil Engineer    Nathan Harris
14      EduWorld                        Principal     Olivia Clark
15  MarketMakers                   SEO Specialist       Paul Lewis
16     DesignPro                   UI/UX Designer      Quinn Young
17    SecureSafe                 Network Engineer      Ryan Walker
18   GreenFuture      Renewable Energy Consultant      Sophia Hall
19     RetailHub                          Cashier         Tom King
20       Foodies               Restaurant Manager        Uma Scott
21     AutoWorks                    Auto Mechanic    Victor Wright
22      TechCorp                  DevOps Engineer      Wendy Lopez
23    HealthPlus                       Pharmacist      Xander Hill
24      EduWorld                        Counselor       Yara Adams
25       BuildIt                        Architect    Zachary Baker
26       Foodies                      Pastry Chef  Amanda Gonzales
27     DesignPro                     Art Director     Brian Carter
28  MarketMakers                   Content Writer   Chloe Mitchell
29    SecureSafe            IT Support Specialist      Dylan Perez
30   GreenFuture        Sustainability Consultant     Ella Roberts
31     RetailHub                  Sales Associate     Finn Edwards
32     AutoWorks        Quality Control Inspector       Gabby Ward
33      TechCorp                  Software Tester       Hank Baker
34    HealthPlus               Physical Therapist      Isla Turner
35      EduWorld                        Librarian      Jake Torres
36       BuildIt                         Surveyor    Kara Phillips
37       Foodies                        Sous Chef     Leo Campbell
38     DesignPro                Interior Designer      Mila Parker
39  MarketMakers             Social Media Manager      Noah Flores
40    SecureSafe              Security Consultant    Olive Bennett
41   GreenFuture          Environmental Scientist     Pete Sanchez
42     RetailHub  Customer Service Representative    Quincy Morgan
43     AutoWorks                 Parts Specialist   Riley Peterson
44      TechCorp                  Systems Analyst      Sara Cooper
45    HealthPlus                   Lab Technician     Timothy Reed
46      EduWorld                          Janitor      Uma Sanders
47       BuildIt                  Project Manager      Victor Ross
48       Foodies                        Line Cook    Wendy Russell

In [114]:
cd.drop_duplicates(subset= "job_role",keep="first")

    company_name                         job_role    employee_name
0       TechCorp                Software Engineer    Alice Johnson
1     HealthPlus                     Data Analyst        Bob Smith
2       EduWorld                          Teacher      Carol White
3        BuildIt             Construction Manager      David Brown
4        Foodies                             Chef       Emma Davis
5      DesignPro                 Graphic Designer     Frank Miller
6   MarketMakers             Marketing Specialist     Grace Wilson
7     SecureSafe            Cybersecurity Analyst      Henry Moore
8    GreenFuture           Environmental Engineer       Ivy Taylor
9      RetailHub                    Store Manager    Jack Anderson
10     AutoWorks              Mechanical Engineer   Kathy Thompson
11    HealthPlus                            Nurse    Liam Martinez
12      TechCorp                  Product Manager      Mia Jackson
13       BuildIt                   Civil Engineer    Nathan Harris
14      EduWorld                        Principal     Olivia Clark
15  MarketMakers                   SEO Specialist       Paul Lewis
16     DesignPro                   UI/UX Designer      Quinn Young
17    SecureSafe                 Network Engineer      Ryan Walker
18   GreenFuture      Renewable Energy Consultant      Sophia Hall
19     RetailHub                          Cashier         Tom King
20       Foodies               Restaurant Manager        Uma Scott
21     AutoWorks                    Auto Mechanic    Victor Wright
22      TechCorp                  DevOps Engineer      Wendy Lopez
23    HealthPlus                       Pharmacist      Xander Hill
24      EduWorld                        Counselor       Yara Adams
25       BuildIt                        Architect    Zachary Baker
26       Foodies                      Pastry Chef  Amanda Gonzales
27     DesignPro                     Art Director     Brian Carter
28  MarketMakers                   Content Writer   Chloe Mitchell
29    SecureSafe            IT Support Specialist      Dylan Perez
30   GreenFuture        Sustainability Consultant     Ella Roberts
31     RetailHub                  Sales Associate     Finn Edwards
32     AutoWorks        Quality Control Inspector       Gabby Ward
33      TechCorp                  Software Tester       Hank Baker
34    HealthPlus               Physical Therapist      Isla Turner
35      EduWorld                        Librarian      Jake Torres
36       BuildIt                         Surveyor    Kara Phillips
37       Foodies                        Sous Chef     Leo Campbell
38     DesignPro                Interior Designer      Mila Parker
39  MarketMakers             Social Media Manager      Noah Flores
40    SecureSafe              Security Consultant    Olive Bennett
41   GreenFuture          Environmental Scientist     Pete Sanchez
42     RetailHub  Customer Service Representative    Quincy Morgan
43     AutoWorks                 Parts Specialist   Riley Peterson
44      TechCorp                  Systems Analyst      Sara Cooper
45    HealthPlus                   Lab Technician     Timothy Reed
46      EduWorld                          Janitor      Uma Sanders
47       BuildIt                  Project Manager      Victor Ross
48       Foodies                        Line Cook    Wendy Russell

In [117]:
cd.to_csv("data.csv", index= False)

In [118]:
'''     libraries to handle excel files in pandas ::     To read: xlrd     and    To write:openpyxl   '''

'     libraries to handle excel files in pandas ::     To read: xlrd     and    To write:openpyxl   '

In [119]:
com_dat= pd.read_csv('data.csv')

In [120]:
com_dat

    company_name                         job_role    employee_name
0       TechCorp                Software Engineer    Alice Johnson
1     HealthPlus                     Data Analyst        Bob Smith
2       EduWorld                          Teacher      Carol White
3        BuildIt             Construction Manager      David Brown
4        Foodies                             Chef       Emma Davis
5      DesignPro                 Graphic Designer     Frank Miller
6   MarketMakers             Marketing Specialist     Grace Wilson
7     SecureSafe            Cybersecurity Analyst      Henry Moore
8    GreenFuture           Environmental Engineer       Ivy Taylor
9      RetailHub                    Store Manager    Jack Anderson
10     AutoWorks              Mechanical Engineer   Kathy Thompson
11    HealthPlus                            Nurse    Liam Martinez
12      TechCorp                  Product Manager      Mia Jackson
13       BuildIt                   Civil Engineer    Nathan Harris
14      EduWorld                        Principal     Olivia Clark
15  MarketMakers                   SEO Specialist       Paul Lewis
16     DesignPro                   UI/UX Designer      Quinn Young
17    SecureSafe                 Network Engineer      Ryan Walker
18   GreenFuture      Renewable Energy Consultant      Sophia Hall
19     RetailHub                          Cashier         Tom King
20       Foodies               Restaurant Manager        Uma Scott
21     AutoWorks                    Auto Mechanic    Victor Wright
22      TechCorp                  DevOps Engineer      Wendy Lopez
23    HealthPlus                       Pharmacist      Xander Hill
24      EduWorld                        Counselor       Yara Adams
25       BuildIt                        Architect    Zachary Baker
26       Foodies                      Pastry Chef  Amanda Gonzales
27     DesignPro                     Art Director     Brian Carter
28  MarketMakers                   Content Writer   Chloe Mitchell
29    SecureSafe            IT Support Specialist      Dylan Perez
30   GreenFuture        Sustainability Consultant     Ella Roberts
31     RetailHub                  Sales Associate     Finn Edwards
32     AutoWorks        Quality Control Inspector       Gabby Ward
33      TechCorp                  Software Tester       Hank Baker
34    HealthPlus               Physical Therapist      Isla Turner
35      EduWorld                        Librarian      Jake Torres
36       BuildIt                         Surveyor    Kara Phillips
37       Foodies                        Sous Chef     Leo Campbell
38     DesignPro                Interior Designer      Mila Parker
39  MarketMakers             Social Media Manager      Noah Flores
40    SecureSafe              Security Consultant    Olive Bennett
41   GreenFuture          Environmental Scientist     Pete Sanchez
42     RetailHub  Customer Service Representative    Quincy Morgan
43     AutoWorks                 Parts Specialist   Riley Peterson
44      TechCorp                  Systems Analyst      Sara Cooper
45    HealthPlus                   Lab Technician     Timothy Reed
46      EduWorld                          Janitor      Uma Sanders
47       BuildIt                  Project Manager      Victor Ross
48       Foodies                        Line Cook    Wendy Russell

In [122]:
com_dat.drop(2,axis=0)

    company_name                         job_role    employee_name
0       TechCorp                Software Engineer    Alice Johnson
1     HealthPlus                     Data Analyst        Bob Smith
3        BuildIt             Construction Manager      David Brown
4        Foodies                             Chef       Emma Davis
5      DesignPro                 Graphic Designer     Frank Miller
6   MarketMakers             Marketing Specialist     Grace Wilson
7     SecureSafe            Cybersecurity Analyst      Henry Moore
8    GreenFuture           Environmental Engineer       Ivy Taylor
9      RetailHub                    Store Manager    Jack Anderson
10     AutoWorks              Mechanical Engineer   Kathy Thompson
11    HealthPlus                            Nurse    Liam Martinez
12      TechCorp                  Product Manager      Mia Jackson
13       BuildIt                   Civil Engineer    Nathan Harris
14      EduWorld                        Principal     Olivia Clark
15  MarketMakers                   SEO Specialist       Paul Lewis
16     DesignPro                   UI/UX Designer      Quinn Young
17    SecureSafe                 Network Engineer      Ryan Walker
18   GreenFuture      Renewable Energy Consultant      Sophia Hall
19     RetailHub                          Cashier         Tom King
20       Foodies               Restaurant Manager        Uma Scott
21     AutoWorks                    Auto Mechanic    Victor Wright
22      TechCorp                  DevOps Engineer      Wendy Lopez
23    HealthPlus                       Pharmacist      Xander Hill
24      EduWorld                        Counselor       Yara Adams
25       BuildIt                        Architect    Zachary Baker
26       Foodies                      Pastry Chef  Amanda Gonzales
27     DesignPro                     Art Director     Brian Carter
28  MarketMakers                   Content Writer   Chloe Mitchell
29    SecureSafe            IT Support Specialist      Dylan Perez
30   GreenFuture        Sustainability Consultant     Ella Roberts
31     RetailHub                  Sales Associate     Finn Edwards
32     AutoWorks        Quality Control Inspector       Gabby Ward
33      TechCorp                  Software Tester       Hank Baker
34    HealthPlus               Physical Therapist      Isla Turner
35      EduWorld                        Librarian      Jake Torres
36       BuildIt                         Surveyor    Kara Phillips
37       Foodies                        Sous Chef     Leo Campbell
38     DesignPro                Interior Designer      Mila Parker
39  MarketMakers             Social Media Manager      Noah Flores
40    SecureSafe              Security Consultant    Olive Bennett
41   GreenFuture          Environmental Scientist     Pete Sanchez
42     RetailHub  Customer Service Representative    Quincy Morgan
43     AutoWorks                 Parts Specialist   Riley Peterson
44      TechCorp                  Systems Analyst      Sara Cooper
45    HealthPlus                   Lab Technician     Timothy Reed
46      EduWorld                          Janitor      Uma Sanders
47       BuildIt                  Project Manager      Victor Ross
48       Foodies                        Line Cook    Wendy Russell